/**** GLOBAL STYLES ****/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Body styling */
body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo-web {
  height: 50px;
  width: 70px;
  margin-left: 30px;
}

/**** MAIN PAGE  ****/
/* Header Styles */
.main-head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between; /* Adjusted to space-between for better layout */
  align-items: center;
  transition: background-color 0.3s ease, height 0.3s ease;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#nav-list {
  list-style: none;
  align-items: center;
}

#nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
  font-size: 1.8rem;
}

.hamburger {
  display: none; /* Hidden on larger screens */
  background: none;
  border: none;
  color: white;
  font-size: 3.5em;
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.heading {
  margin-bottom: 30px;
  margin-top: 100px;
}

h1 {
  font-size: 2.5rem;
  color: #1e88e5;
}

main {
  background-color: #ffffff;
  padding: 20px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
}

h2 {
  font-size: 1.9rem;
  color: #000000;
}

.content p {
  font-size: 1.7rem;
  justify-content: center;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

/*about section  */
.container {
  width: 85%;
  margin: 0 auto;
}

/* About Section */
.about {
  background-color: #fff;
  padding: 60px 0;
  text-align: center;
  position: relative;
}

.about p {
  font-size: 18px;
  color: #666;
  max-width: 800px;
  margin: 0 auto;
  transition: color 0.4s ease;
}

.about h1 {
  font-size: 36px;
  color: #007bff;
  margin-bottom: 20px;
  position: relative;
  transition: color 0.3s ease;
}

.about h1::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #007bff;
  margin: 10px auto;
  transition: width 0.3s ease;
}

.about:hover h1 {
  color: #0056b3;
}

.about:hover h1::after {
  width: 120px;
}

.about:hover p {
  color: #333;
}

/* Core Values Section */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 1rem;
  width: 100%;
}

#container-Core-values {
  padding: 2rem 3rem;
}

.core-values {
  background-color: #eef5f9;
  padding: 40px 0;
}

.core-values h2 {
  margin-top: -1rem;
  text-align: center;
  margin-bottom: 40px;
  color: #007bff;
  font-size: 32px;
  transition: color 0.3s ease;
}

.core-values h2:hover {
  color: #0056b3;
}

.core-values .values {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.core-values .value-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;
  width: 45%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease,
    background-color 0.4s ease;
  border: 2px solid transparent;
}

.core-values .value-item:hover {
  background: rgb(83, 180, 215);
  background: linear-gradient(
    0deg,
    rgba(83, 180, 215, 1) 15%,
    rgba(28, 103, 130, 1) 75%
  );
  /* Pink-silver gradient */
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  border-color: #7ac9a6;
}

.core-values .value-item h3 {
  color: #007bff;
  margin-bottom: 20px;
  font-size: 24px;
  transition: color 0.3s ease;
}

.core-values .value-item:hover h3 {
  background: #ffffff;
  background: linear-gradient(to right, #c7c7c7 0%, #ced9d3 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Text color changes to white on hover */
}

.core-values .value-item p {
  color: #555;
  transition: color 0.3s ease;
  font-size: 14px;
}

.core-values .value-item:hover p {
  color: #f0f0f0;
  /* Subtle text color change on hover */
}

/* Team Section */
.team {
  background-color: #fff;
  padding: 60px 0;
}

.team h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: -2rem;
  font-size: 32px;
  color: #007bff;
  transition: color 0.3s ease;
}

.team h2:hover {
  color: #0056b3;
}

.team .team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team .team-member {
  background-color: #eef5f9;
  padding: 30px;
  border-radius: 10px;
  width: 57%;
  text-align: center;
  margin: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease,
    background-color 0.4s ease;
  border: 2px solid transparent;
}

.team .team-member:hover {
  background: rgb(83, 180, 215);
  background: linear-gradient(
    0deg,
    rgba(83, 180, 215, 1) 15%,
    rgba(28, 103, 130, 1) 75%
  );
  /* Pink-silver gradient */
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  border-color: #007bff;
}

.team .team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.4s ease, border 0.3s ease;
  border: 4px solid #fff;
}

.team .team-member:hover img {
  transform: scale(1.1);
  border: 4px solid #007bff;
}

.team .team-member h3 {
  margin-top: 20px;
  font-size: 22px;
  color: #007bff;
  transition: color 0.3s ease;
}

.team .team-member:hover h3 {
  color: #fff;
  /* Text color changes to white on hover */
}

.team .team-member p {
  color: #555;
  transition: color 0.3s ease;
  font-size: 14px;
}

.team .team-member:hover p {
  color: #f0f0f0;
  /* Subtle text color change on hover */
}

.team-description {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #eef5f9;
  border-radius: 10px;
  padding: auto;
  width: 680px;
  height: 23rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease,
    background-color 0.4s ease;
  border: 2px solid transparent;
}

.team-description:hover {
  background: linear-gradient(45deg, #ff66b2, #c0c0c0);
  /* Pink-silver gradient */
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  border-color: #007bff;
}

/* Team Description Paragraph */
.team-description p {
  font-size: 18px;
  color: #333;
  text-align: center;
  max-width: 900px;
  margin: 40px auto;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  cursor: pointer;
}

.team-description p:hover {
  color: #9000ff;
  /* Change text color on hover */
}
.align1 {
  width: 255px;
  height: 50px;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  margin: 56px auto 56px;
}

#cta-button {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  width: 250px;
  height: 45px;
  line-height: 35px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover Effect */
#cta-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.toggle-button {
  width: 7%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode-toggle {
  border: none;
  cursor: pointer;
  z-index: 10; /* Ensure it stays above other elements */
}

.mode-toggle img {
  width: 30px; /* Adjust the size as needed */
  height: auto;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .card {
  background-color: #1e1e1e;
  border: 1px solid #333;
}

.dark-mode .card-header {
  background-color: #333;
  color: #fff;
}

.dark-mode input,
.dark-mode textarea {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
}

.dark-mode button[type="submit"] {
  background-color: #444;
}

.dark-mode button[type="submit"]:hover {
  background-color: #666;
}

.dark-mode .navhover {
  color: #fff;
}

/* Footer Styles */
footer {
  background-color: #232323;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  height: 550px;
  margin-left: 70px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  margin-top: 30px;
}

.footer-column p {
  color: white;
  font-size: 1.6rem;
  text-align: left;
  margin-left: 40px;
}

.footer-column .para {
  margin-left: 30px;
}

.footer-column .para:hover {
  text-decoration: underline;
}

.footer-column a {
  font-size: 16px;
  line-height: 2;
  color: white;
}
#footer-contact-us {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #f39c12;
  cursor: pointer;
}

.footer-column ul {
  font-size: 14px;
  line-height: 1.5;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.5rem;
}

.footer-column ul li a:hover {
  color: #f39c12;
}

.social-icons a {
  margin: 0 10px;
  color: #ffffff;
  font-size: 22px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #f39c12;
}

/* for discord */
.social-icons .fa-discord {
  transition: color 0.3s ease, transform 0.3s ease;
}
.social-icons .fa-discord:hover {
  color: #4267b2;
  transform: scale(1.1);
  transform: scale(1.2) translateY(-5px);
}

/* for twitter */
.social-icons .fa-x-twitter {
  transition: color 0.3s ease, transform 0.3s ease;
}
.social-icons .fa-x-twitter:hover {
  color: black;
  transform: scale(1.1);
  transform: scale(1.2) translateY(-5px);
}
/* for github */
.social-icons .fa-github {
  transition: color 0.3s ease, transform 0.3s ease;
}
.social-icons .fa-github:hover {
  color: #c32aa3;
  transform: scale(1.1);
  transform: scale(1.2) translateY(-5px);
}

/* for linkedin */
.social-icons .fa-linkedin-in {
  transition: color 0.3s ease, transform 0.3s ease;
}
.social-icons .fa-linkedin-in:hover {
  color: #0a66c2;
  transform: scale(1.1);
  transform: scale(1.2) translateY(-5px);
}

.footer-column.newsletter {
  max-width: 300px;
  margin-left: 80px;
  margin-top: -80px;
  text-align: center;
}
#newsletter-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
#email {
  width: 350%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 200px !important;
  padding: 9px;
  margin-top: -8px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

button[type="submit"]:hover {
  background-color: #004085;
}

#subscription-message {
  font-size: 14px;
  margin-top: 10px;
}

.footer-bottom {
  margin-top: -40px;
}
.footer-bottom .copyright-b {
  color: #fffcfc;
  font-size: 1.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  /* Adjusting the main header */
  .main-head {
    flex-direction: column;
    padding: 10px 5px;
  }

  nav ul {
    flex-direction: column; /* Stack navigation items vertically */
    align-items: center;
  }

  .hamburger {
    display: block; /* Show hamburger menu on smaller screens */
  }

  /* Container adjustments */
  .container {
    width: 90%; /* Increase container width for small screens */
    padding: 10px;
  }

  /* Header and Heading adjustments */
  .heading h1 {
    font-size: 2rem; /* Smaller font size for headings */
  }

  h2 {
    font-size: 1.5rem; /* Smaller font size for subheadings */
  }

  /* Core Values Section */
  .core-values .value-item {
    width: 90%; /* Full width for value items */
    margin: 10px auto; /* Centered with auto margins */
  }

  /* Team Section */
  .team .team-member {
    width: 90%; /* Full width for team members */
    margin: 10px auto; /* Centered with auto margins */
  }

  /* Footer adjustments */
  .footer-container {
    flex-direction: column; /* Stack footer columns */
    align-items: center; /* Center footer items */
  }

  .footer-column {
    margin: 10px 0; /* Spacing between columns */
    width: 100%; /* Full width for footer columns */
    text-align: center; /* Center text in footer */
  }

  /* Newsletter Form */
  #newsletter-form {
    flex-direction: column; /* Stack form elements */
    align-items: center;
  }

  #email {
    width: 100%; /* Full width for email input */
    margin-bottom: 10px; /* Spacing */
  }

  button[type="submit"] {
    width: 100%; /* Full width for submit button */
  }

  /* Adjust social icons size */
  .social-icons a {
    font-size: 18px; /* Smaller icons */
  }

  /* Adjust padding and margins where necessary */
  .footer-column p {
    font-size: 1.2rem; /* Smaller font size for footer text */
  }
}
