body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#chatbot {
    width: 350px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    flex-direction: column;
    transition: all 0.3s ease;
    overflow: hidden;
}

#chatbox {
    height: 350px;
    overflow-y: auto;
    padding: 15px;
    border-bottom: 1px solid #e2e2e2;
    background-color: #f9f9f9e3;
}

#messages {
    margin-bottom: 10px;
}

.user, .bot {
    padding: 8px 12px;
    border-radius: 15px;
    max-width: 70%;
    word-wrap: break-word;
    margin: 5px 0;
}

.user {
    background-color: #007bff;
    color: #fff;
    text-align: right;
    font-size: 15px;
}

.bot {
    background-color: #e1f5fe;
    color: #333;
    text-align: left;
    font-size: 15px;
}

#user-input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 0;
}

#send-button {
    padding: 10px 15px;
    background-color: #0c80fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#send-button:hover {
    background-color: #0012b3;
}

#chat-icon {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

#chat-icon:hover {
    background-color: #08adc6;
}

#chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding-left: 10px;
    font-size: 1.5rem;
}

#close-button {
    background: none;
    border: none;
    padding: 15px;
    color: rgb(229, 63, 63);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

#close-button:hover {
    color: #41e809;
}
