/**** GLOBAL STYLES ****/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Body styling */
body {
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo-web {
  height: 50px;
  width: 70px;
}

/**** MAIN PAGE  ****/
/* Header Styles */
.main-head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  /* padding: 17px; */
  padding: 10px;
  /* background-color: #00000087;  */
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between; /* Adjusted to space-between for better layout */
  align-items: center;
  /* transition: background-color 0.3s ease, height 0.3s ease; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#nav-list {
  list-style: none;
  align-items: center;
}

#nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
  font-size: 1.8rem;
}

.hamburger {
  display: none; /* Hidden on larger screens */
  background: none;
  border: none;
  color: white;
  font-size: 3.5em;
  cursor: pointer;
}

/* Full-width container for page */
.container {
  display: flex;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 120px;
}

/* Table of contents styling */
.toc {
  flex-basis: 25%;
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 8px;
  margin-right: 20px;
  height: fit-content;
  position: sticky;
  /* top: 20px; */
  top: 180px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.toc h2 {
  font-size: 1.5rem;
  color: #004085;
  margin-top: 10px;
}

.toc ul {
  list-style: none;
  padding: 0;
}

.toc ul li {
  margin-bottom: 10px;
}

.toc ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.toc ul li a:hover {
  text-decoration: underline;
}

/* Main content styling */
.main-content {
  flex-basis: 75%;
}

h1,
h2 {
  color: #004085;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #004085;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.8rem;
  margin-top: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 20px;
}

ul {
  margin-left: 20px;
  padding-left: 20px;
  list-style: disc;
}

li {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

a {
  /* color: white; */
  color: #555;
  text-decoration: none;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

.scroll-top-btn {
  position: fixed; /* Fixed position */
  bottom: 20px; /* Distance from the bottom of the viewport */
  right: 80px; /* Adjust this value to move the button left */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 17px;
  cursor: pointer;
  border-radius: 50%;
  display: none; /* Initially hidden */
  z-index: 1000; /* Ensure it appears above other content */
}

.scroll-top-btn:hover {
  background-color: #2c445e;
}

/* Footer Styles */
footer {
  background-color: #232323;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 50px; */
  gap: 20px;
  max-width: 1200px;
  height: 550px;
  margin: auto;
  /* margin-left: 100px; */
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
  margin-top: 30px;
}

.footer-column p {
  color: white;
}

.footer-column a {
  font-size: 16px;
  line-height: 2;
  color: white;
}
#footer-contact-us {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #f39c12;
  cursor: pointer;
}

.footer-column p,
.footer-column ul {
  font-size: 14px;
  line-height: 1.5;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.5rem;
}

.footer-column ul li a:hover {
  color: #f39c12;
  /* text-decoration: underline; */
}

.social-icons a {
  margin: 0 10px;
  color: #ffffff;
  font-size: 22px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #f39c12;
}

/* for facebook */
.social-icons .fa-discord {
  transition: color 0.3s ease, transform 0.3s ease;
}
.social-icons .fa-discord:hover {
  color: #4267b2;
  transform: scale(1.1);
  transform: scale(1.2) translateY(-5px);
}

/* for twitter */
.social-icons .fa-x-twitter {
  transition: color 0.3s ease, transform 0.3s ease;
}
.social-icons .fa-x-twitter:hover {
  color: black;
  transform: scale(1.1);
  transform: scale(1.2) translateY(-5px);
}
/* for instagram */
.social-icons .fa-github {
  transition: color 0.3s ease, transform 0.3s ease;
}
.social-icons .fa-github:hover {
  color: #c32aa3;
  transform: scale(1.1);
  transform: scale(1.2) translateY(-5px);
}

/* for instagram */
.social-icons .fa-linkedin-in {
  transition: color 0.3s ease, transform 0.3s ease;
}
.social-icons .fa-linkedin-in:hover {
  color: #0a66c2;
  transform: scale(1.1);
  transform: scale(1.2) translateY(-5px);
}

.footer-column.newsletter {
  max-width: 300px;
  /* margin: 0 auto; */
  margin-left: 80px;
  margin-top: -30px;
  text-align: center;
}
#newsletter-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
#email {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}
button[type="submit"] {
  width: 100px;
  padding: 9px;
  margin-top: -8px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

button[type="submit"]:hover {
  background-color: #004085;
}

#subscription-message {
  font-size: 14px;
  margin-top: 10px;
}

.footer-bottom {
  margin-top: -20px;
}
.footer-bottom .copyright-b {
  color: #fffcfc;
  font-size: 1.5rem;
  /* margin-bottom: 1.2rem; */
}

/* Responsive Styles for screens smaller than 768px */
@media (max-width: 768px) {
  /* Adjusting margins for main content and table of contents */
  .container {
    margin-top: 80px; /* Reduced margin for smaller screens */
    flex-direction: column; /* Stack elements vertically */
    padding: 10px; /* Reduced padding */
  }

  .toc {
    flex-basis: 100%; /* Full width for toc */
    margin-right: 0; /* Remove margin */
    margin-bottom: 20px; /* Space below toc */
    top: 100px; /* Adjust sticky position */
  }

  .main-content {
    flex-basis: 100%; /* Full width for main content */
    margin-top: 20px; /* Reduced margin */
  }

  /* Adjusting font sizes for headings and paragraphs */
  h1 {
    font-size: 1.8rem; /* Smaller size for headings */
  }

  h2 {
    font-size: 1.5rem; /* Smaller size for subheadings */
  }

  p {
    font-size: 1.2rem; /* Smaller paragraph text */
  }

  li {
    font-size: 1.2rem; /* Smaller list items */
  }

  #nav-list li a {
    font-size: 1.5rem; /* Adjust nav links font size */
  }

  /* Navbar adjustments */
  .hamburger {
    display: block; /* Show hamburger menu on small screens */
  }

  nav ul {
    flex-direction: column; /* Stack nav items */
    align-items: center; /* Center nav items */
  }

  nav ul li {
    margin: 5px 0; /* Space between nav items */
  }

  /* Footer adjustments */
  .footer-container {
    flex-direction: column; /* Stack footer columns */
    align-items: center; /* Center footer content */
  }

  .footer-column {
    flex-basis: 100%; /* Full width for footer columns */
    margin: 10px 0; /* Space between footer items */
  }

  .footer-column.newsletter {
    margin-left: 0; /* Remove left margin */
    margin-top: 20px; /* Space above */
  }

  /* Newsletter form adjustments */
  #newsletter-form {
    flex-direction: column; /* Stack email and button */
    align-items: stretch; /* Full width for inputs */
  }

  #email {
    width: 100%; /* Full width for email input */
  }

  button[type="submit"] {
    width: 100%; /* Full width for submit button */
  }

  /* Adjust scroll button positioning */
  .scroll-top-btn {
    right: 20px; /* Adjust position */
  }
}
