.cookie-container {
    position: fixed;
    bottom: 80px;
    left: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 13px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 220px;
    height: 220px;
    display: none;
    font-size: 10px;
    font-weight: 400;
}

.cookie-container p {
    margin: 10px 0;
    color: black;
}

.cookie-container a {
    color: #007bff;
    text-decoration: none;
}

.cookie-container a:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.button-container button {
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

#accept-btn {
    background-color: #007bff;
    color: white;
}

#reject-btn {
    background-color: #dc3545;
    color: white;
}

#customize-btn {
    background-color: #6c757d;
    color: white;
}

button:hover {
    opacity: 0.9;
}
