/* General body styling with a linear gradient background */
body {
    background: linear-gradient(135deg,#112d60,#dd83e0);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
}

/* Container styling with rounded edges and soft shadows */
.container {
    padding: 80px;
    padding-top: 40px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

/* Classy font style for heading */
h1 {
    text-align: center;
    color: #fff;
    font-size: 2.8em;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* Elegant paragraph styling */
p {
    margin: 15px 0;
    font-size: 1.2em;
    color: #fff;
    text-align: justify;
    line-height: 1.8;
}

/* Styled hyperlinks */
a {
    color: #e68612;
    text-decoration: none;
    font-weight: bold;
}


/* Add a subtle hover effect to container */
.container:hover {
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
.home-btn{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 8rem;
    position: fixed;
    top: 40px;
    left: 50%;
    font-size: 24px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 12px;
    transition: all 0.4s ease;
}
.home-btn:hover{
    transform: scale(1.1);
    background-color: rgba(0,0,0,0.6);
}
