/* Styling for the pop-up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#popup-content {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 750px;
  height: 450px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.popup-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup-right {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.popup h1 {
  font-size: 22px;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
}

.popup .h2 {
  font-weight: bold;
  font-size: 18px;
  color: #007bff;
  text-align: center;
  margin-bottom: 10px;
}

.popup-right p {
  font-size: 13px;
  text-align: center;
  color: #000000;
}

input[type="email"] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#signup-btn {
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: 460;
}

.signup-btn:hover {
  background-color: #6a00ff;
}

#no-thanks {
  text-align: center;
  color: #212121;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 470;
}

#terms {
  font-size: 12px;
  text-align: center;
}

#link {
  color: black;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Modal Content */
.modal-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Close Button */
.close-btn {
  color: black;
  float: right;
  font-size: 24px;
  float: right;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
}
